@charset "utf-8";
/* CSS Document */

table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
	
}

th, td {
    padding: 5px;
}
th {
    text-align: left;
	 background-color: rgb(240,200,255);
}

.oddBackGround{
	background-color: rgb(240,200,255);
	}


